<main>
    <h2>Home</h2>

{{#each books}}
<div class="book">
    <h3>Titilo: {{this.title}}</h3>
    <p>Quantidade de paginas: {{this.pageqty}}</p>
    <div class="bottons">
<a href="/book/{{this.id}}" class="mais">Ver mais</a>
    <a href="/edit/{{this.id}}" class="mais">Editar</a>
    <form action="/delete/{{this.id}}" method="post">
    <input type="hidden" name="id" value="{{this.id}}">
    <button class="excluir">Excluir</button>
    </form>
    </div>
</div>

{{/each}}
</main>